GROQ_API_KEY="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"
HUGGING_FACE_API_KEY="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"
HF_ALERTS_MODEL=meta-llama/Llama-3.1-8B-Instruct
HF_PIPELINE_MODEL=deepseek-ai/DeepSeek-R1:fastest
PORT=5000
